VITE_SUPABASE_URL=https://yjiidphbfivpyfldmwru.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlqaWlkcGhiZml2cHlmbGRtd3J1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NTEyMDk0NywiZXhwIjoyMDcwNjk2OTQ3fQ.i9HeaeqxCqVWxElF9Hh7XQMvl8ijMuM0w40zmwbOU1c